{
  "env": {
    "dev": {
      "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        "@babel/preset-typescript"
      ],
      "plugins": []
    },
    "test": {
      "presets": [
        ["@babel/preset-env", { "targets": { "node": "current" } }],
        "@babel/preset-react",
        "@babel/preset-typescript"
      ],
      "plugins": [
        [
          "transform-rename-import",
          {
            "replacements": [
              {
                "original": "effector-react$",
                "replacement": "effector-react/ssr"
              },
              {
                "original": "@effector/reflect$",
                "replacement": "@effector/reflect/ssr"
              }
            ]
          }
        ],
        ["effector/babel-plugin"]
      ]
    }
  }
}
